<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moni.anyou.com.view">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

    <application
        android:name=".config.AnyouerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/base_theme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.anyou.picselect.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.IndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.account.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.kindergarten.adapter.picshow.NewsPicDetaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.my.PersonInfoSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.my.invitefamily.InviteFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.my.systemset.SystemSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.CbTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.my.invitefamily.FamilyNumbersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.my.systemset.UpdateLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.account.CompleteBaseInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.dynamics.SendDynamicActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.living.ALivingActivity" />
        <activity android:name=".view.daily.LoginActivity">

        </activity>
        <activity android:name=".view.kindergarten.TeacherDetailActivity" />
        <activity
            android:name=".view.StartActivity"
            android:label="@string/title_activity_start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.my.SuggestActivity" />
        <activity android:name=".view.my.SystemsNoticeActivity" />
        <activity android:name=".view.my.systemset.SelectGardenActivity" />
        <activity android:name=".view.dynamics.SentDynamicsActivity"></activity>
        <activity android:name=".view.my.invitefamily.SelectActivity"></activity>


        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="微信分享"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".webview.ShowWebActivity" />

        <service android:name=".service.UpFileService" />

        <activity android:name="moni.anyou.com.view.view.dynamics.detail.image.ImagePagerActivity" />
        <activity
            android:name=".view.living.VlcVideoActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>